recursive-include opendrop_ml/modules/ift/younglaplace *.pyx
recursive-include opendrop_ml/modules/ift/hough *.pyx
recursive-include opendrop_ml/modules/ift/include *.hpp
recursive-include opendrop_ml/modules/ML_model *
recursive-include opendrop_ml/assets *
recursive-include opendrop_ml/experimental_data_set *
recursive-include dependencies *
include README.md
include LICENSE
